<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h2>Recent Posts</h2>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    <h2>Pages</h2>
    <ul>
	<li><a href="/SLAE32/">SLAE32 Posts</a></li>
        <li><a href="/ctfs/">CTF Writeups</a></li>
        <li><a href="references.html">Tools and Techniques</a></li>
    </ul>
 </div>

<div class="sidebar well">
{% include links-list.html %}
</div>
